/* Fondo personalizado */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://scontent.frga1-1.fna.fbcdn.net/v/t39.30808-6/300019620_580035326974660_4401353466156044707_n.jpg?stp=dst-jpg_s960x960&_nc_cat=100&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=zf5JXEl7pPoQ7kNvgEfuHW-&_nc_zt=23&_nc_ht=scontent.frga1-1.fna&_nc_gid=AijxD0lB-lWUfCu1EjSeJ35&oh=00_AYCyv5bS15i02KlRSOfB-xRA6bztmT1rw2BUO9ntkGLnnQ&oe=672F09DA');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Barra superior con logo */
.top-bar {
    width: 100%;
    background-color: #1F1F1F;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y la sección de Información */
    align-items: center;
    box-shadow: 0 2px 10px rgba(43, 33, 33, 0.1);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 20px; /* Separación izquierda */
}

/* Centrado del enlace de Información */
.info-section {
    flex: 1; /* Ocupar el espacio restante */
    text-align: center;
}

.info-section a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
}

.info-section a:hover {
    color: #007BFF;
}

/* Estilos para el contenedor principal */
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 50px 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 90%;
    margin-top: 80px; /* espacio para la barra superior */
}

/* Estilos para el título */
h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Contenedor del botón */
.button-container {
    display: flex;
    justify-content: center;
}

/* Botón estilizado */
.btn {
    padding: 15px 40px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Hover del botón */
.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Estilos para el footer */
footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #555;
    font-size: 0.9rem;
}
